.sub-menu{
    position: absolute;
    left: 210px;
    top: -2px;
    height:auto;
overflow: hidden;
}
.sub-menu li{
    position: relative;
    height:60px;
    background-color: #324565;
    width:100%;
    padding-left: 5px;

}

.sub-menu li  a.nav-link{
    height:inherit;
    width:inherit;
    padding:0;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.sub-menu li  a.nav-link:hover{
    padding:0;
}

.sub-menu li span.title{
    color: #93a4c1;
    font-size:15px;
    position: relative;
    z-index:10;
    height:inherit;
    float: left;
    line-height:60px;
    padding-left: 10px;
}

.sub-menu li  a.nav-link:hover span.title{
    color: #93a4c1;
    position: relative;
    z-index:10;


}
.sub-menu li span.badge{
    position: absolute;
    right: 20px;
    top: 21px;
}


.badge {
    font-size: 15px!important;
    font-weight: bolder;
    height: 30px;
    width:30px;
    color: #fff;
    padding: 3px 6px;
    border-radius: 20px;
    text-shadow: none!important;
    text-align: center;
    float: right;
   margin-top: -5px;
    line-height: 22px;
    margin-right: 0;
}
.badge-success {
    background-color: #36c6d3;
}