/* connexion page */
/* line 503, ../sass/style.scss */
#body-login-page {
    margin: 0;
}
/* line 505, ../sass/style.scss */
#body-login-page #login-page-c {
    position: absolute;
    background: url("../images/connexion.png") no-repeat center;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
}
/* line 513, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c {
    position: relative;
    margin: 0 auto;
    width: 473px;
    height: 404px;
    top: 25%;
    border: 10px solid rgba(255, 255, 255, 0.28);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
}
/* line 523, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c .connexion-title-c {
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 214px;
    height: 37px;
    border: 5px solid #f1af27;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #e79306;
}
/* line 541, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c p.connexion-c-d {
    color: #677a8c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    width: 407px;
    margin: 65px auto 0 auto;
}
/* line 550, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c #garcon-login {
    position: absolute;
    top: 105px;
    left: -101px;
    z-index: -1;
}
/* line 556, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c #fille-login {
    position: absolute;
    top: 122px;
    right: -127px;
}
/* line 561, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form {
    position: relative;
}
/* line 563, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form input[type=text] {
    display: block;
    width: 361px;
    height: 46px;
    border: none;
    margin: 0 auto;
    outline: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #f5f9f9;
    padding-left: 52px;
    color: #677a8c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}


#body-login-page #login-page-c .login-details-c form input[type=password] {
    display: block;
    width: 361px;
    height: 46px;
    border: none;
    margin: 0 auto;
    outline: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #f5f9f9;
    padding-left: 52px;
    color: #677a8c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}








/* line 579, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form input[name=email] {
    margin-top: 35px;
    margin-bottom: 11px;
}
/* line 583, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form .login-email-ell {
    display: inline-block;
    width: 36px;
    height: 36px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #dce6ea;
    position: absolute;
    top: 5px;
    left: 52px;
}
/* line 593, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form .login-email-ell i {
    position: relative;
    left: 8px;
    top: 8px;
    color: #687b8c;
    font-size: 1.5em;
}
/* line 601, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form .login-pass-ell {
    display: inline-block;
    width: 36px;
    height: 36px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #dce6ea;
    position: absolute;
    top: 62px;
    left: 52px;
}
/* line 611, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form .login-pass-ell i {
    position: relative;
    left: 11px;
    top: 8px;
    color: #687b8c;
    font-size: 1.5em;
}
/* line 620, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form input[type=checkbox] {
    display: inline-block;
    margin: 10px 0 0 62px;
}
/* line 624, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form span#checkbox-souvenir {
    color: #677a8c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
/* line 630, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c form button {
    display: block;
    width: 361px;
    height: 46px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #5fcf7f;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px auto 10px auto;
    outline: none;
}
/* line 648, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c .mot-oulie {
    margin-left: 46px;
}
/* line 650, ../sass/style.scss */
#body-login-page #login-page-c .login-details-c .mot-oulie a {
    text-decoration: none;
    color: #677a8c;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}